@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Xanh+Mono:ital@0;1&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: green;
    --logo_ft: 'Xanh Mono', monospace;
    --bdy_ft: 'Nanum Gothic', sans-serif;
}

body{
    font-family: var(--bdy_ft);
}

a{
    text-decoration: none;
    color: black;
}