@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Xanh+Mono:ital@0;1&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: green;
    --lyt_pry: rgba(0, 128, 0, 0.3);
    --secondary: rgba(191, 188, 188, 0.6);
    --foreground: rgba(0, 5, 0, 0.4);
    --404: rgb(231, 40, 142);
    --wt: white;
    --logo_ft: 'Xanh Mono', monospace;
    --bdy_ft: 'Nanum Gothic', sans-serif;
    --cont_wd: 70%;
    --fs : 1.2em;
}

body{
    font-family: var(--bdy_ft);
}

a{
    text-decoration: none;
    color: black;
}